.BusBooking{
    background-color: #2f81ed;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
    height: 30vh;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchBarBus{
    background-color: #fff;
    height: 10vh;
    width: 75%;
    display: flex;
    gap:4.4px;
    overflow: hidden;
    border-radius: 6px;
}
.mainDivBusSearch{
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchFromBus{
    height: 90%;
    width: 95%;
}
.pInputBus{
    font-weight: 500;
    color: #737373;
    font-size: 14px;
}
.swapDiv{
    width: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .searchToBus{
    height: 90%;
    width: 95%;
 }
 .searchDepartureBus{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .inputBus{
    width: 100%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 19px;
    font-weight: 600;
    color: #000;
    border: none;
    cursor: pointer;
 }
 .inputBus:focus{
    outline: none;
 }
 .busOfersBoxes{
    height: 95%;
    width: 22%;
  box-sizing: border-box; 
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(250, 253, 255, 1);
  box-shadow: 0 0 7px rgb(0 -1 6 / 6%) inset;
  border-radius: 15px;
  border: 1px solid #F5F5F5;
 }

 .BusSearchSection{
    background-color: #2f81ed;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .searchBarBusDiv{
    height: 50%;
    width: 80%;
    display: flex;
    overflow: hidden;
    gap: 20px;
    border-radius: 6px;
 }
 .mainDivBusRecordSearch{
    height: 100%;
    width: 25%;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.1);
 }
 .searchFromBusRecord{
    height: 90%;
    width: 95%;
 }
 .searchToBusRecord{
    height: 90%;
    width: 95%;
 }
 .departureDateBus{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    height: 100%;
    width: 21%;
    background-color: hsla(0,0%,100%,.1);
 }
 .searchButtonBusRecords{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #56CCF2);
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    border: 1.5px solid white;
    justify-content: center;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 5px;
    cursor: pointer;
 }
 .inputBusDetail{
    width: 80%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: hsla(0,0%,100%,.1);
    
 }
 .inputBusDetail:focus{
    outline: none;
 }
 .BusDataBox{
    border: 1px solid #b8d0e5;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }
 .BusDataBox:hover{
    box-shadow: 0 0 4px rgba(0,0,0,.25);
 }
 .aminity:hover{
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
}

.aminity{
   cursor: pointer;
}
/* Open Modal */
.modalSeatSection{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 75%;
   height: 90%;
   border: none;
   border-radius: 5px;
   box-shadow: 1px 2px 5px black;
   background-color: white;
   padding: 4;
   display: flex;
   justify-content: center;
   align-items: center;
}
.selectSeatBus{
   background: url(https://bus.easemytrip.com/new_img/bus-seat-sprite.png) -99px -93px no-repeat;
    width: 70px;
    height: 32px;
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-size: 8px;
    font-weight: 800;
    color: #000;
    cursor: pointer;

}
.selectSeatBusCh{
   background: url(https://bus.easemytrip.com/new_img/bus-seat-sprite.png) -58px -49px no-repeat;
    width: 32px;
    height: 31px;
    text-align: center;
    line-height: 30px;
    font-size: 8px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
}
/* .selectedBusSeat{
   background-color: lawngreen;
} */

.closeBtnBusSeats{
   width: 11px;
   height: 11px;
   background: url(https://www.easemytrip.com/images/new-login/home-sub-sprite.png) no-repeat -96px -24px;
   opacity: .3;
   background-size: 200px 39px;
   position: absolute;
   top: 18px;
   right: 25px;
   cursor: pointer;
}
