
.flightBooking{
    background-color: #2f81ed;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headSearchbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 5vh; 
  
}
.captionFlight{
    width: 50%;
    margin-right: 9.6em;
}
.searchLowestFlightH1{
    float: right;
    font-size: 20px !important;
    color: #fff;
    font-weight: 600;
    
}
.searchBarFlight{
    background-color: #fff;
    height: 15vh;
    width: 80vw;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
}
.mainDivFlightSearch{
    height: 100%;
    width: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainDivFlightSearch:hover{
    background-color: #bfdef85d;
}
.searchFromFlight{
    height: 90%;
    width: 95%;
}
 
.pInputFlight{
    font-weight: 500;
    color: #737373;
    font-size: 14px;
}
.inputFormSectionFlight{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchToFlight{
    height: 90%;
    width: 95%;
    
}
.searchDepartureFlight{
    height: 100%;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flighthomeDeparture{
    width: 92%;
    height: 90%;
}
.departureHeading{
    display: flex;
    gap: 10px;
}
.inputFlight{
    height: 7vh;
    width: 100%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.inputFlight:focus{
    outline: none;
}
/* till yet complete */
.searchReturn{
    height: 12vh;
    width: 12vw;
   
}
.searchTravellerFlight{
    height: 100%;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hotelChooseTraveller{
    width: 92%;
    height: 90%;
}
.searchButtonFlight{
    height: 100%;
    width: 15%;
    background-color: #ef6614;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.swapIcon{
   height: 4.5vh;
   margin-left: -16px;
   margin-top: 30px;

}
.inputFormSection{
    width: 19vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formSearchBox{
    height: 7vh;
    width: 95%;
    border: 0.5px solid lightgray;
    border-radius: 5px;

}

/* fo To Modal */
.inputToSection{
    width: 19vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toSearchBox{
    height: 7vh;
    width: 95%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}

.listFlightTo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.spanFlightTo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
/* Offers */
.offerHeadingFlight{
    height: 6vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingDivFlight{
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headingOffers{
    font-size: 34px;
    font-weight: 700;
}
.listOffers{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 15px;
}
.listOffersFlight{
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    color: #000;
    padding: 6px 15px 
}
.listOffersFlight:active{
    background: #2196F3;
    color: #fff;
}

.flightOffersSection{
    height: 45vh;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
}
.flightOfersBoxes{
    height: 95%;
    width: 22%;
  box-sizing: border-box; 
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(250, 253, 255, 1);
  box-shadow: 0 0 7px rgb(0 -1 6 / 6%) inset;
  border-radius: 15px;
  border: 1px solid #F5F5F5;
}
.offersFlightImagediv{
    height: 95%;
    width: 95%;
    /* border: 1px solid blue; */
    margin-top: 7px;
}
.flightOffersImage{
    height: 70%;
    width: 100%;
    border-radius: 10px;
}
.imageOffersFlight{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.descriptionFlightoffer{
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    color: #172033;
    margin-top: 10px;
}
